.wrapperPage {
    font-family: "Quicksand", sans-serif;
    font-size: 18px;
    color: rgb(44, 46, 53);
    margin-top: 50px;
}
.zentredText {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.horisontalLinie {
    display: block;
    position: absolute;

    height: 10px;
    width: 100%;
    top: 105px;
    background: rgb(244, 175, 196);
    background: linear-gradient(
        90deg,
        rgba(244, 175, 196, 1) 0%,
        rgba(226, 223, 223, 1) 100%
    );
}
/*----Headers texts style-------*/
.headersText {
    font-family: "Montserrat", sans-serif;
    font-size: 30px;
    color: rgb(44, 46, 53);
}
.headersText_withIcon {
    display: inline-flex;
    margin-top: 20px;
    padding-top: 10px;
    font-family: "Montserrat", sans-serif;
    font-size: 30px;
    color: rgb(44, 46, 53);
}
.headersText_withIcon::before {
    content: "";
    width: 50px;
    height: 50px;

    margin-top: 0;
    background-image: url("../Images/squear2.png");
    background-size: contain;
    background-repeat: no-repeat;
}
.headersText_withIcon2 {
    display: inline-flex;
    margin-top: 20px;
    padding-top: 10px;
    font-family: "Montserrat", sans-serif;
    font-size: 30px;
    color: rgb(44, 46, 53);
}
.headersText_withIcon2::before {
    content: "";
    width: 50px;
    height: 50px;

    margin-top: 0;
    background-image: url("../Images/squear.png");
    background-size: contain;
    background-repeat: no-repeat;
}

/*---Hero---*/
.heroBg {
    width: 100%;
    height: auto;
    min-height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-size: cover;
    background-image: linear-gradient(
            to right,
            rgba(244, 175, 196, 0.7),
            rgba(84, 86, 85, 0.5)
        ),
        url("../Images/service2.jpeg");
}
.heroLogo {
    text-align: center;
    opacity: 0;
    scale: 0;
}
.heroLogoShow {
    text-align: center;
    opacity: 1;
    scale: 1;
    transition: scale 2s ease-in-out 200ms, opacity 2s ease-in-out 200ms;
}
.heroLogoImg {
    width: 100%;
    max-width: 800px;
    height: auto;
}
.heroBtn {
    margin-top: 50px;
}

/*---------------------*/
.losung {
    /* font-family: "Allura", cursive;*/
    font-family: "Montserrat", sans-serif;
    display: block;
    padding: 50px;
    color: rgb(44, 46, 53);

    text-align: center;
    font-size: 30px;
    align-items: center;
}

/*-----Section-----*/
.conteinerPage {
    /*  padding-top: 50px;*/
    min-height: calc(100vh - 165px);
}
.conteinerSection {
    padding-top: 20px;
    padding-bottom: 20px;
}
.background1 {
    background-color: rgba(251, 226, 229);
    background-image: url("../Images//bg01.png");
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: 100%;
}
.background2 {
    background-color: rgba(251, 226, 229);
}
.background3 {
    background-color: #fff;
}

/*----Buttons und Links -----*/
.textStyleLink {
    color: rgb(149, 113, 125);
}
.textStyleLink:hover {
    color: rgb(149, 113, 125);
    font-weight: 700;
}
.btn {
    background-color: transparent;
    border: none;
    outline: 1px solid rgb(149, 113, 125);
    border-radius: 5px;
    padding: 10px;
    margin-right: 10px;
    color: rgb(149, 113, 125);
    text-decoration: none;
    white-space: nowrap;
}
.btn:hover,
.btn:focus {
    color: rgb(149, 113, 125);
    outline: 2px solid rgb(149, 113, 125);
    font-weight: 700;
}
.btn:active {
    background-color: transparent;
    border: none;
    outline: 2px solid rgb(149, 113, 125);
    border-radius: 5px;
    padding: 10px;
    margin-right: 10px;
    color: rgb(149, 113, 125);
    font-weight: 700;
}
/* сброс браузерных стилей для фокуса */
.btn::-moz-focus-inner {
    border: none;
}
.btnSertificate {
    border: none;
    color: rgb(149, 113, 125);
    background: transparent;
    text-decoration: underline;
}
.btnSertificate:hover {
    font-weight: 700;
}
/*---Galery---*/
.imgInGaleryBlock {
    overflow: hidden;
}
.imgInGalery {
    width: 100%;
    display: block;
    cursor: pointer;
    transform: scale(1);
    transition: transform 1s;
}
.imgInGalery:hover {
    transform: scale(1.35);
}
.bgGaleryPopup {
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.8);
    position: fixed;
    display: flex;
    top: 0;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    z-index: 3000;
}
.bgGaleryPopupActive {
    scale: 1;
    transition: scale 2s ease-in-out 0.5s, opacity 2s ease-in-out 0.5s;
}
.imgGaleryPopup {
    width: auto;
    max-width: 90%;
    max-height: 90%;
}
.btnGaleryBlock {
    display: flex;
    justify-content: center;
    padding: 10px;
}
.btnClose {
    position: absolute;
    top: 20px;
    right: 8px;
    background-color: transparent;
    color: rgb(149, 113, 125);
    font-weight: 700;
    border: none;
}
.btnClose:hover {
    font-size: 18px;
}
.imgShadow {
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.35);
}
/*---Service---*/
.serviseList {
    margin-left: 50px;
}
.serviseList li {
    margin-bottom: 10px;
}

/*-----Kontakts----*/
.socialLinks {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.socialLinksItem {
    margin-right: 10px;
}
.iconInstagram {
    width: 32px;
    height: 32px;
    fill: rgba(84, 86, 85);
}
.iconInstagram:hover {
    fill: rgb(224, 75, 230);
}
.iconWhatsapp {
    width: 32px;
    height: 32px;
    fill: rgba(84, 86, 85);
}
.iconWhatsapp:hover {
    fill: rgb(26, 223, 59);
}
/*-----Uber mich----*/

/*Test background with overlau*/
.a {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    background-position: center;
    background-size: cover;
    background-image: linear-gradient(
            to right,
            rgba(244, 175, 196, 0.7),
            rgba(84, 86, 85, 0.5)
        ),
        url("../Images/salon.jpg");
}
