/*.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
*/

ul {
    list-style: none;
    padding: 0;
}

/*
Ästhetische Behandlungen:
Injektionen mit Hyaluronsäure/ Kalziumhydroxylapatit :
ab 200,-€ je nach Bereich und Präparat.
Ästhetische Mesotherapie: 
Gesicht 150,-€  ( min 3 Sitzungen notwendig)
Gesicht und Hals 250,-€
 Biorevitalisierung: 
ab 180,-€ je nach Präparat 
Redermalisation:   
Ab 180,-€ je nach Präparat
Perfoskin Complex :  
5ml 180,-€

Fadenlifting: 
ab 10,-€ pro Faden 
Dermatologischer Peeling : 
PRX-T33 79,-€ +100,-€ Heimpflege einmalig ( 5 Sitzungen  notwendig)
PRX-T33 Lady 79,- +59,-€ Heimpflege ( 3 Sitzungen  notwendig)
 Hyalual Peels  89,-€ (3 Sitzungen notwendig)

 Diamant  Microdermabrasion:  99,-€
Aquapeel: 99,-
 Microneedling : 
 Gesicht 99,-€    
Gesicht und Hals 149,-
Anti Aging Gesichtsbehandlungen:
ab 69,-€ je nach Hautbedürfnis
Gesichtslympdrainage   
30 Min 35,-€   
 
Sculpture Gesichtsmassage: 
30 Min 35,-
Profhilo  5 Punkte Lifting: 200,-€
 Prophilo Body: 299,-€
Lipolyse ( Fett-Weg-Spritze): 
 Gesicht und Körper  1ml 5,-€
 Mesohair Behandlung beim Haarausfall: 120,-€  
Toxin freier Botox Ersatz: ab 100,€


*/
